@media screen and (min-width: 1166px) {
  .container {
    max-width: 1166px;
  }
  .backdrop-mob {
    display: none;
  }
  .navigation {
    display: flex;
  }
  .navigation-list {
    margin-right: 90px;
  }
  .social-list {
    display: flex;
    gap: 14px;
  }
  .header-logo {
    flex-grow: 2;
    padding-bottom: 32px;
    padding-top: 24px;
    font-size: 18px;
    line-height: 1.11;
  }
  .header-logo-img {
    width: 28px;
    height: 28px;
  }
  .menu-mob-btn {
    display: none;
  }
  .hero-container {
    padding: 381px 40px 40px 40px;
    background-image: url(../images/chocolate-main.jpg);
    max-width: 1136px;
  }
  @media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../images/chocolate-mai-2x.jpg);
  }
  .hero-title {
    font-size: 28px;
    max-width: 484px;
  }
  .hero-btn-all {
    flex-wrap: nowrap;
    flex-basis: 14px;
    gap: 0px;
  }
  .hero-scroll-dwn-btn {
    justify-content: flex-end;
  }
  .our-adventages-list{
    flex-direction: row;
    flex-wrap: nowrap;
    gap:88px;
    
  }
  .our-adventages-item:not(:last-child)::before {
  position: absolute;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 0px;
  height: 124px;
  left: 352px;
  top: 62px;
}
.our-advantages{
  padding: 50px;
}
}
