/* ---------GENERAL--------- */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  background-color: #fafafa;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.sections-title {
  color: #111;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.brand-color-span {
  color: #fd9222;
}

.container {
  max-width: 375px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------------------- */

/* ---------HEADER--------- */
.header {
  background-color: #fafafa;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  color: #111;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  /* flex-grow: 2; */
  /* padding-bottom: 32px;
  padding-top: 24px; */
  padding-bottom: 14px;
  padding-top: 20px;
}

.soc-icon {
  fill: none;
  stroke: #111111;
}

.logo-span {
  font-style: italic;
}

.header-logo-img {
  fill: none;
  stroke: #fd9222;
  width: 28px;
  height: 28px;
}

.navigation {
  display: none;
}

.navigation-list {
  display: flex;
  gap: 24px;
  margin-right: 90px;
  align-items: center;
}

.navigation-list-item {
}

.navigation-item-link {
  color: #111;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-bottom: 36px;
  padding-top: 24px;
}

.navigation-item-link:hover,
.navigation-item-link:focus {
  color: #fd9222;
}

.social-list {
  /* display: flex; */
  display: none;
  gap: 14px;
  justify-content: flex-end;
}

.social-list-item {
  display: block;
  align-items: end;
}

.social-item-link {
  padding-bottom: 32px;
  padding-top: 24px;
}

.menu-mob-btn {
  display: block;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding-bottom: 14px;
  padding-top: 20px;
}

.menu-mob-btn-icon {
  stroke: #111111;
  width: 28px;
  height: 28px;
}

.backdrop-mob {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu {
  position: relative;
  width: 220px;
  height: 100vh;
  background-color: #1e1823;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-close-btn {
  position: absolute;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-btn-icon {
  stroke: #ffffff;
  width: 28px;
  height: 28px;
}

.mob-close-btn:active .mob-btn-icon {
  stroke: #fd9222;
}
.navigation-mob {
  padding: 136px 28px 0 28px;
  margin-bottom: 60px;
}

.navigation-list-mob {
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* margin-right: 90px; */
  align-items: flex-start;
}

.navigation-list-item-mob {
}

.navigation-item-link-mob {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding-bottom: 36px;
  padding-top: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item-link-mob:hover,
.navigation-item-link-mob:focus {
  color: #fd9222;
}

.social-list-mob {
  display: flex;
  gap: 14px;
  justify-content: flex-start;
}

.social-list-item-mob {
  display: block;
  align-items: end;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item-link-mob {
  padding-bottom: 32px;
  padding-top: 24px;
}

.soc-icon-mob {
  fill: none;
  stroke: #ffffff;
}

.social-list-item-mob:hover .soc-icon-mob,
.social-list-item-mob:active .soc-icon-mob {
  stroke: #fd9222;
}

/* ------------------------- */

/* ---------HERO--------- */

.hero {
  margin: 0 auto;
  padding-bottom: 80px;
}

.hero-container {
  background-color: rgba(17, 17, 17, 0.6);
  background-image: url(../images/chocolate-main-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 335px;
  border-radius: 30px;
  /* padding: 381px 40px 40px 40px; */
  padding: 395px 16px 20px 16px;
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .hero-container {
    background-image: url(../images/chocolate-main-mob-2x.jpg);
  }
}

.hero-title {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  max-width: 299px;
  max-height: 102px;
  margin-bottom: 32px;
  /* align-items: flex-start; */
}

.hero-button-buy {
  display: block;
  background-color: #fd9222;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  border-radius: 100px;
  gap: 14px;
  /* padding: 14px 40px; */
  padding: 12px 28px;
  /* min-width: 144px; */
  min-width: 120px;
  min-height: 41px;
  border: none;
  /* margin-right: 14px; */
}

.hero-button-buy:hover,
.hero-button-buy:focus,
.hero-button-buy:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link-made-btn {
  display: block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fff;
  /* padding: 14px 40px; */
  padding: 12px 28px;
  gap: 14px;
  /* min-width: 183px; */
  min-width: 159px;
  min-height: 41px;
}

.hero-link-made-btn:hover,
.hero-link-made-btn:focus,
.hero-link-made-btn:active {
  color: #fd9222;
}

.hero-scroll-dwn-btn {
  display: flex;
  gap: 14px;
  flex-grow: 2;
  min-width: 130px;
  min-height: 38px;
  /* justify-content: flex-end; */
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.hero-scroll-dwn-text {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll-btn-img {
  fill: #fd9222;
  width: 16px;
  height: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-scroll-btn-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-all {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: calc((100% - 14px) / 2);
  gap: 32px 14px;
}

.hero-scroll-dwn-btn:hover .hero-scroll-dwn-text,
.hero-scroll-dwn-btn:focus .hero-scroll-dwn-text {
  color: #fd9222;
}

.hero-scroll-dwn-btn:hover .hero-scroll-btn-link,
.hero-scroll-dwn-btn:focus .hero-scroll-btn-link {
  background-color: #fd9222;
}

.hero-scroll-dwn-btn:hover .hero-scroll-btn-img,
.hero-scroll-dwn-btn:focus .hero-scroll-btn-img {
  fill: #fafafa;
}
/* ------------------------- */

/* ---------ADVANTAGES--------- */

.our-advantages {
  background-color: #1e1823;
  padding: 20px;
}
.advantages-container {
  display: flex;

  align-content: center;
  justify-content: center;
}

.our-adventages-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 88px; */
  gap: 20px;
}

.our-adventages-item {
  flex-basis: calc((100% - 176px) / 3);
  position: relative;
  width: 308px;
  height: 244px;
}

.our-adv-list-title {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 18px;
}
.our-adv-list-text {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.adventages-icon {
  fill: #fd9222;
}

.adv-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}
/* ------------------------- */

/* ---------TASTE SENSATION--------- */

.taste-sensation {
  padding: 120px;
}

.taste-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.taste-sensation-title {
  display: block;
  max-width: 412px;
  margin-bottom: 28px;
}

.taste-sensation-text {
  display: flex;
  color: #111;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  margin: 0 auto 50px;
  max-width: 486px;
}

.taste-sensation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 32px;
}

.taste-sens-list-item {
  /* display: flex;
  flex-direction: column;
 justify-content: center;*/
  max-width: 260px;
  max-height: 270px;
  flex-basis: calc((100% - 72px) / 4);
  padding: 28px 23px;
  color: #111;
}

.taste-sens-list-title {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.28;
  letter-spacing: -0.02em;
  padding-bottom: 28px;
  /*padding-left: 28px;*/
  text-align: left;
}

.taste-sens-list-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border-radius: 15px;
  color: #fff;
}

.taste-sens-list-item:nth-child(even) {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background-color: #ffff;
}

.taste-sens-list-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border-radius: 15px;
  color: #fff;
}

/*.orange-bkgrnd {
  background-color: #fd9222;
}

.black-bkgrnd {
  background-color: #1e1823;
}
.white-bkgrnd {
  background-color: #ffff;
}

.white-text {
  color: #fff;
}
*/

.taste-sens-list-img {
  margin: 0 auto;
  margin-bottom: 36px;
}

/* ------------------------- */

/* ---------HOW ITS MADE--------- */

.how-made {
  padding-bottom: 120px;
}

.made-title {
  text-align: center;
  margin-bottom: 50px;
}

.made-container {
}

.made-container-without-title {
  display: flex;
}
.made-container-without-title-img {
  padding: 32px;
  border-radius: 15px;
  background-color: #fff;
}

.made-side-title {
  background-color: #fff;
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  max-width: 350px;
  margin-bottom: 28px;
}

.made-list {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 24px 0;
}

.made-list-item {
  color: #111;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  list-style: disc;
}

.made-list-text {
}

.made-img {
  margin-right: 20px;
  max-width: 600px;
  max-height: 400px;
}
/* ------------------------- */

/* ---------OUR PRODUCTS--------- */

.our-products {
  padding-bottom: 120px;
}

.pdoducts-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.our-products-title {
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 18px;
  margin: 0 auto;
}

.products-list-item {
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: #fff;
  flex-basis: calc((100% - 54px) / 4);
  padding: 32px 20px;
}

.products-list-img {
  margin: 0 auto;
  align-items: center;
}

.products-list-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.products-list-text {
  color: rgba(17, 17, 17, 0.7);
  font-size: 12px;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
}

.products-list-btn {
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  color: #111;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 8px 20px;
  min-width: 94px;
  min-height: 17px;
}
/* ------------------------- */

/* ---------TOP SELLERS--------- */
.top-sellers-section {
  padding-bottom: 120px;
}

.topsellers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-sell-title {
  margin-bottom: 50px;
}

.top-sell-list {
  display: flex;
  gap: 16px;
  align-items: center;
  text-align: center;
}

.top-sell-list-item {
  border-radius: 15px 15px 0px 0px;
  background-color: #fff;
  flex-basis: calc((100% - 32px) / 3);
}

.top-sell-img {
}

.top-sell-list-title {
  color: #111;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 28px 0;
  border-radius: 0px 0px 15px 15px;
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
}

/* ------------------------- */

/* ---------LOVED--------- */
.loved-sections {
  padding-bottom: 120px;
}

.loved-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loved-title {
  margin-bottom: 50px;
}

.loved-list {
  display: flex;
  gap: 28px;
  align-items: stretch;
  margin: 0 auto;
}

.loved-list-item {
  background-color: #fff;
  flex-basis: calc((100% - 56px) / 3);
  border-radius: 15px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.049px 100px 0px rgba(17, 17, 17, 0.03);
  padding: 24px;
}

.loved-list-img {
  margin: 0 auto;
  align-items: center;
  margin-bottom: 18px;
}

.loved-list-title {
  color: #111;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  margin-bottom: 24px;
}

.loved-list-text {
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
}
.loved-btn {
  background-color: #fafafa;
  color: #111;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 100px;
  border: 1px solid #fd9222;
  cursor: pointer;
  padding: 14px 40px;
  min-width: 222px;
  min-height: 50px;
  margin-top: 50px;
}
.loved-btn:hover,
.loved-btn:focus,
.loved-btn:active {
  color: #fff;
  background-color: #fd9222;
}
/* ------------------------- */

/* ---------FOOTER--------- */

.footer-section {
  background-color: #1e1823;
  padding: 50px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-title {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  min-width: 300px;
  min-height: 68px;
  margin-right: 510px;
  margin-bottom: 96px;
}

.footer-soc {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.footer-soc-title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 14px;
}

.footer-soc-list {
  display: flex;
  gap: 14px;
}

.footer-list-item {
}

.footer-item-link {
}

.footer-contacts-title {
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  margin-bottom: 14px;
  text-align: left;
}

.footer-contacts {
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-cont-list {
}

.footer-cont-item {
}

.footer-cont-link {
  color: #fff;
  text-align: center;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
}

.footer-nav {
}

.footer-nav-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer-nav-list-item {
}

.footer-nav-link {
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.footer-nav-link:hover,
.footer-nav-link:focus,
.footer-nav-link:active {
  color: #fd9222;
}

/* ------------------------- */
